<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>123as.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bao_00000.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>568</integer>
				<key>originalHeight</key>
				<integer>413</integer>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-71</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>bao_00001.png</key>
			<dict>
				<key>width</key>
				<integer>568</integer>
				<key>height</key>
				<integer>413</integer>
				<key>originalWidth</key>
				<integer>568</integer>
				<key>originalHeight</key>
				<integer>413</integer>
				<key>x</key>
				<integer>302</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bao_00002.png</key>
			<dict>
				<key>width</key>
				<integer>568</integer>
				<key>height</key>
				<integer>413</integer>
				<key>originalWidth</key>
				<integer>568</integer>
				<key>originalHeight</key>
				<integer>413</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>414</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bao_00003.png</key>
			<dict>
				<key>width</key>
				<integer>568</integer>
				<key>height</key>
				<integer>413</integer>
				<key>originalWidth</key>
				<integer>568</integer>
				<key>originalHeight</key>
				<integer>413</integer>
				<key>x</key>
				<integer>871</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bao_00004.png</key>
			<dict>
				<key>width</key>
				<integer>568</integer>
				<key>height</key>
				<integer>413</integer>
				<key>originalWidth</key>
				<integer>568</integer>
				<key>originalHeight</key>
				<integer>413</integer>
				<key>x</key>
				<integer>569</integer>
				<key>y</key>
				<integer>414</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bao_00005.png</key>
			<dict>
				<key>width</key>
				<integer>558</integer>
				<key>height</key>
				<integer>413</integer>
				<key>originalWidth</key>
				<integer>568</integer>
				<key>originalHeight</key>
				<integer>413</integer>
				<key>x</key>
				<integer>1440</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bao_00006.png</key>
			<dict>
				<key>width</key>
				<integer>440</integer>
				<key>height</key>
				<integer>413</integer>
				<key>originalWidth</key>
				<integer>568</integer>
				<key>originalHeight</key>
				<integer>413</integer>
				<key>x</key>
				<integer>1138</integer>
				<key>y</key>
				<integer>414</integer>
				<key>offsetX</key>
				<real>-64</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bao_00007.png</key>
			<dict>
				<key>width</key>
				<integer>368</integer>
				<key>height</key>
				<integer>413</integer>
				<key>originalWidth</key>
				<integer>568</integer>
				<key>originalHeight</key>
				<integer>413</integer>
				<key>x</key>
				<integer>1579</integer>
				<key>y</key>
				<integer>414</integer>
				<key>offsetX</key>
				<real>-75</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baodian2_00037.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>232</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>828</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baodian2_00039.png</key>
			<dict>
				<key>width</key>
				<integer>263</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>232</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1061</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baodian2_00041.png</key>
			<dict>
				<key>width</key>
				<integer>282</integer>
				<key>height</key>
				<integer>218</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>232</integer>
				<key>x</key>
				<integer>291</integer>
				<key>y</key>
				<integer>828</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>baodian2_00043.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>232</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1294</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baodian2_00045.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>232</integer>
				<key>x</key>
				<integer>264</integer>
				<key>y</key>
				<integer>1061</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>baodian2_00047.png</key>
			<dict>
				<key>width</key>
				<integer>279</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>232</integer>
				<key>x</key>
				<integer>574</integer>
				<key>y</key>
				<integer>828</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baodian2_00049.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>232</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1527</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>baodian2_00051.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>232</integer>
				<key>x</key>
				<integer>291</integer>
				<key>y</key>
				<integer>1293</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xian_7.png</key>
			<dict>
				<key>width</key>
				<integer>536</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>536</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>854</integer>
				<key>y</key>
				<integer>828</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gyp6.png</key>
			<dict>
				<key>width</key>
				<integer>504</integer>
				<key>height</key>
				<integer>321</integer>
				<key>originalWidth</key>
				<integer>504</integer>
				<key>originalHeight</key>
				<integer>321</integer>
				<key>x</key>
				<integer>291</integer>
				<key>y</key>
				<integer>1526</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xuli_00000.png</key>
			<dict>
				<key>width</key>
				<integer>318</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>582</integer>
				<key>y</key>
				<integer>1149</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xuli_00002.png</key>
			<dict>
				<key>width</key>
				<integer>285</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>901</integer>
				<key>y</key>
				<integer>1149</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xuli_00004.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1391</integer>
				<key>y</key>
				<integer>828</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xuli_00006.png</key>
			<dict>
				<key>width</key>
				<integer>271</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>796</integer>
				<key>y</key>
				<integer>1470</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xuli_00008.png</key>
			<dict>
				<key>width</key>
				<integer>277</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1187</integer>
				<key>y</key>
				<integer>1149</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xuli_00010.png</key>
			<dict>
				<key>width</key>
				<integer>269</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1662</integer>
				<key>y</key>
				<integer>828</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xuli_00012.png</key>
			<dict>
				<key>width</key>
				<integer>264</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1068</integer>
				<key>y</key>
				<integer>1470</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xuli_00014.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1465</integer>
				<key>y</key>
				<integer>1149</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xuli_00016.png</key>
			<dict>
				<key>width</key>
				<integer>248</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1333</integer>
				<key>y</key>
				<integer>1470</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xuli_00018.png</key>
			<dict>
				<key>width</key>
				<integer>243</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1717</integer>
				<key>y</key>
				<integer>1149</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xuli_00020.png</key>
			<dict>
				<key>width</key>
				<integer>231</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1582</integer>
				<key>y</key>
				<integer>1470</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xuli_00022.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>314</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1814</integer>
				<key>y</key>
				<integer>1470</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>xuli_00024.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>287</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1759</integer>
				<key>offsetX</key>
				<real>-10</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>gyp1_1.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>49</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>151</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gyp1_2.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>49</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>201</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>gyp5.png</key>
			<dict>
				<key>width</key>
				<integer>264</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>264</integer>
				<key>originalHeight</key>
				<integer>163</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gyp4.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>181</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>193</integer>
				<key>y</key>
				<integer>1848</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>qianghuo_00001.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>568</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>375</integer>
				<key>y</key>
				<integer>1848</integer>
				<key>offsetX</key>
				<real>139.5</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>bw_00034.png</key>
			<dict>
				<key>width</key>
				<integer>207</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>207</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>555</integer>
				<key>y</key>
				<integer>1061</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bw_00035.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>207</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>517</integer>
				<key>y</key>
				<integer>1848</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>bw_00036.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>207</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>517</integer>
				<key>y</key>
				<integer>1935</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>bw_00037.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>207</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>724</integer>
				<key>y</key>
				<integer>1848</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>bw_00038.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>207</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>720</integer>
				<key>y</key>
				<integer>1935</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bw_00039.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>207</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>925</integer>
				<key>y</key>
				<integer>1791</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bw_00040.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>207</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>925</integer>
				<key>y</key>
				<integer>1877</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bw_00041.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>207</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>910</integer>
				<key>y</key>
				<integer>1965</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bw_00042.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>207</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>1119</integer>
				<key>y</key>
				<integer>1791</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bw_00043.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>207</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>1126</integer>
				<key>y</key>
				<integer>1875</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>bw_00044.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>207</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>1126</integer>
				<key>y</key>
				<integer>1958</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bw_00030.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>207</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>1320</integer>
				<key>y</key>
				<integer>1791</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg1102.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>163</integer>
				<key>x</key>
				<integer>1518</integer>
				<key>y</key>
				<integer>1791</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>skillfight3001_after0.png</string>
			<key>realTextureFileName</key>
			<string>skillfight3001_after0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>