*.project
*.sublime-project
*.sublime-workspace
*.log
/frameworks/runtime-src/proj.android_no_anysdk/obj
/frameworks/runtime-src/proj.android_no_anysdk/bin
/frameworks/runtime-src/proj.android_no_anysdk/gen
/frameworks/runtime-src/proj.android_no_anysdk/libs
/frameworks/runtime-src/proj.wp8-xaml
/frameworks/runtime-src/Classes
/frameworks/runtime-src/proj.ios_mac
/frameworks/runtime-src/proj.win32
